* {
	margin: 0;
	padding: 0;
}

/* BUBBLE */
.itemStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 45px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 0 0 0 1px grey;
	animation: glow-green 500ms ease-in-out infinite;
	-webkit-user-select: none;
}

@keyframes glow-green {
	0% {
		box-shadow: 0 0 10px 1px rgb(104, 255, 104), 0 0 5px 1px rgb(104, 255, 104) inset;
	}
	50% {
		box-shadow: 0 0 5px 1px rgb(104, 255, 104), 0 0 1px 1px rgb(104, 255, 104) inset;
	}
	100% {
		box-shadow: 0 0 10px 1px rgb(104, 255, 104), 0 0 5px 1px rgb(104, 255, 104) inset;
	}
}

@keyframes glow-red {
	0% {
		box-shadow: 0 0 10px 1px rgb(255, 121, 43), 0 0 5px 1px rgb(255, 121, 43) inset;
	}
	50% {
		box-shadow: 0 0 5px 1px rgb(255, 121, 43), 0 0 1px 1px rgb(255, 121, 43) inset;
	}
	100% {
		box-shadow: 0 0 10px 1px rgb(255, 121, 43), 0 0 5px 1px rgb(255, 121, 43) inset;
	}
}

/* MONITOR APP WITH BUBBLES */
.outer {
	max-width: 50px;
	background: rgb(246, 246, 246);
	padding: 15px;
	border-radius: 10px;
	font-family: monospace;
}

.outer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.outer .app-list {
	list-style: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outer .play-button {
	min-width: 45px;
	min-height: 45px;
	margin: 0;
	background: #87a3ff;
	border: 0px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-size: 20px;
}

.outer .pause-button {
	min-width: 45px;
	min-height: 45px;
	margin: 0;
	margin-top: 10px;
	background: #87a3ff;
	border: 0px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-size: 20px;
}

.outer .read-button {
	min-width: 45px;
	min-height: 45px;
	margin: 0;
	margin-top: 10px;
	background: #87a3ff;
	border: 0px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-size: 20px;
}

.call {
	background: #eee;
	border-radius: 25px;
	/* padding: 20px; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-items: center; */
	align-items: center;
	height: auto;
	width: auto;
	max-width: 250px;
}

.call .game {
	margin: 20px 0;
	display: flex;
	flex-direction: row;
}

.call .player-container {
	display: flex;
	flex-direction: row;
	margin: 0 10px;
	font-family: monospace;
	font-size: 12px;
	padding: 20px 30px;
}

.call .button-group {
	margin: 0;
	padding: 0;
}

.call canvas:first-child {
	border-right: 2px solid #777;
}

.call canvas:last-child {
	border-left: 2px solid #777;
}

.call button {
	background: #87a3ff;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border: 0 solid #fff;
	font-family: monospace;
	text-transform: uppercase;
	width: 35px;
	height: 35px;
}

.call button:hover,
.outer .play-button:hover,
.outer .pause-button:hover,
.outer .read-button:hover {
	box-shadow: 0 0 0 2px #3b69ff inset;
}

.dragregion {
	margin: 0;
	background: #cecece;
	border-radius: 999px;
	min-height: 10px;
	z-index: 9999;
}

.call .dragregion {
	margin-bottom: 20px;
	background: #cecece;
	min-width: 80%;
}
