* {
	margin: 0;
	padding: 0;
}

/* BUBBLE */
.itemStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 9999px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	box-shadow: 0 0 0 1px #333;
	font-size: 20px;
	animation: glow-green 500ms ease-in-out infinite;
	-webkit-user-select: none;
}

@keyframes glow-green {
	0% {
		box-shadow: 0 0 10px 1px rgb(104, 255, 104), 0 0 5px 1px rgb(104, 255, 104) inset;
	}
	50% {
		box-shadow: 0 0 5px 1px rgb(104, 255, 104), 0 0 1px 1px rgb(104, 255, 104) inset;
	}
	100% {
		box-shadow: 0 0 10px 1px rgb(104, 255, 104), 0 0 5px 1px rgb(104, 255, 104) inset;
	}
}

@keyframes glow-red {
	0% {
		box-shadow: 0 0 10px 1px rgb(255, 121, 43), 0 0 5px 1px rgb(255, 121, 43) inset;
	}
	50% {
		box-shadow: 0 0 5px 1px rgb(255, 121, 43), 0 0 1px 1px rgb(255, 121, 43) inset;
	}
	100% {
		box-shadow: 0 0 10px 1px rgb(255, 121, 43), 0 0 5px 1px rgb(255, 121, 43) inset;
	}
}

/* MONITOR APP WITH BUBBLES */
.outer {
	margin-left: 20px;
	margin-top: 20px;
	max-width: 50px;
	background: rgb(246, 246, 246);
	padding: 15px;
	border-radius: 20px;
	font-family: monospace;
}

.outer .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.outer .app-list {
	list-style: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outer .play-button,
.outer .pause-button,
.outer .read-button,
.outer .logout-button {
	min-width: 50px;
	min-height: 50px;
	margin: 0;
	background: #fff;
	border: 1px solid #333;
	border-radius: 9999px;
	cursor: pointer;
	color: #333;
	font-size: 20px;
}

.outer .pause-button {
	margin-top: 10px;
}

.outer .read-button {
	font-size: 22px;
	margin-top: 10px;
}

.outer .logout-button {
	margin-top: 10px;
	font-size: 20px;
}

.outer .logout-button .icon {
	transform: translateY(1px) translateX(2px);
}

.call button:hover,
.outer .play-button:hover,
.outer .pause-button:hover,
.outer .read-button:hover,
.outer .logout-button:hover {
	box-shadow: 0 0 0 1px #777 inset;
}

.dragregion {
	margin: 0;
	background: #cecece;
	border-radius: 999px;
	min-height: 10px;
	z-index: 9999;
}

.call .dragregion {
	background: #cecece;
	min-width: 80%;
	margin: 0 0 10px 0;
}
