/* Body background and font */
body {
	background: #6995ec;
	font-family: monospace;
}
::-webkit-scrollbar {
	display: none;
}
/* Main heading */
.heading {
	color: #272343;
	font-size: 25;
}

/* Countdown timer */
.timer {
	color: #272343;
	text-align: center;
	width: 16rem;
	height: 8rem;
	border: 3px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
}

/* remove the padding on the play button */
.btn {
	padding: 0;
}

/* play and reset icons */
.fa-play,
.fa-redo-alt {
	color: #272343;
	border: 2px solid transparent;
	padding: 1rem;
	border-radius: 2rem;
}

.btn {
	padding: 20px;
}

.fa-play:hover,
.fa-redo-alt:hover {
	color: #bae8e8;
	border: 2px solid #bae8e8;
	transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
	display: block;
	padding: 1rem 0;
	color: #272343;
	background: #e3f6f5;
	border-radius: 0.5rem;
	transition: 0.5s ease;
}
