.login-container {
	background-color: #eee;
	width: 200px;
	height: 150px;
	padding: 10px;
	border-radius: 25px;
	font-family: monospace;
	font-size: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: center;
}

.login h2 {
	margin: 10px 0;
}

.login .icon {
	font-size: 50px;
}

.login-container button {
	position: absolute;
	border: 1px solid #333;
	background: #fff;
	font-size: 12px;
	border-radius: 9999px;
	padding: 7.5px;
	margin: 0 0 10px 0;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(130px) translateY(-25px);
}

.login-container .dragregion {
	transform: translateY(10px);
}
