.login-wrapper {
	background: #eee;
	width: 300px;
	height: 375px;
	border-radius: 20px;
	padding: 20px;
}

.text-container {
	text-align: center;
	font-family: 'Poppins', monospace;
}

h1 {
	margin-bottom: 30px;
	margin-top: 30px;
}

p {
	color: #333;
	font-weight: 500;
}

.button-container {
	display: flex;
	flex-direction: column;
	padding: 33px 80px;
	gap: 18px;
}

.login-button,
.exit-button {
	border: 0px solid #000;
	font-family: 'Poppins', monospace;
	font-size: 16px;
	color: #eee;
	border-radius: 10px;
	height: 50px;
	background: black;
	font-weight: 500;
}

.login-icon,
.exit-icon {
	vertical-align: middle;
	padding-right: 10px;
}

.login-button:hover,
.exit-button:hover {
	background: #333;
	cursor: pointer;
}
